<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ResumeDb"
         connectionString="Persist Security Info=False;Initial Catalog=ResumeDb;Data Source=DBSVR01;User Id=sa;Password=sesame1?"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>