<br/>
<div class="row">
    <div class="col-sm-8">
        <label for="positions">Position</label>
        <select id="positions" class="form-control"></select>
    </div>
</div>
<br/>
<div id="position" style="display:none">
    <div class="row">
        <div class="col-sm-4">
            <label for="companies">Company</label>
            <select id="companies" class="form-control"></select>
        </div>
        <div class="col-sm-4">
            <label for="titles">Title</label>
            <select id="titles" class="form-control"></select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4">
            <label for="start">Start Date:</label>
            <a href="#" id="start" data-type="combodate" data-title="Select date"></a>
        </div>
        <div class="col-sm-4">
            <label for="end">End Date:</label>
            <a href="#" id="end" data-type="combodate" data-title="Select date"></a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-8">
            <label for="summary">Summary:</label>
            <a href="#" id="summary" data-type="textarea" class="detailValue" data-inputclass="some_class"></a>
        </div>
    </div>
</div>
<br/>
<div id="details" style="display:none">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th style="width:5%">Action</th>
            <th style="width:5%">Order</th>
            <th style="width:15%">Title</th>
            <th style="width:75%">Value</th>
        </tr>
        </thead>
        <tbody id="tblBody"></tbody>
    </table>
    <br/>
    <div class="pull-right">
        <input class="btn btn-danger" type="submit" id="delete" value="Delete" onclick="positionViewModel.delete()">
        <input class="btn btn-warning" type="button" id="cancel" value="Cancel">
        <input class="btn btn-success" type="submit" id="save" value="Save" onclick="positionViewModel.save()">
    </div>
</div>
<script src="js/models/positionModel.js"></script>
<script src="js/models/positionDetailModel.js"></script>
<script src="js/positionViewModel.js"></script>
<script>
    $( document ).ready(function() {
        positionViewModel.init();
    });
</script>