.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: none;
}
.editable-form {
    width:100%;
}
.some_class{
    width: 600px;
}
.x-select2 {
    width: 300px;
}
.rating-sm {
    font-size: 1em;
}