
SELECT * FROM [ResumeDb].[dbo].[Technology]
SELECT * FROM [ResumeDb].[dbo].[TechnologyType]

--DBCC CHECKIDENT ('[Technology]', RESEED, 0) GO
--insert into Technology ([Name], [TechnologyTypeId]) values ('C#', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('VB', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('VB.NET', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('.NET', 6)
--insert into Technology ([Name], [TechnologyTypeId]) values ('Java', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('JavaScript', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('CSS', 3)
--insert into Technology ([Name], [TechnologyTypeId]) values ('ADO', 5)
--insert into Technology ([Name], [TechnologyTypeId]) values ('ADO.NET', 5)
--insert into Technology ([Name], [TechnologyTypeId]) values ('ASP', 7)
--insert into Technology ([Name], [TechnologyTypeId]) values ('ASP.NET', 7)
--insert into Technology ([Name], [TechnologyTypeId]) values ('C', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('C++', 1)
--insert into Technology ([Name], [TechnologyTypeId]) values ('MFC', 5)